<!DOCTYPE html>
<html>
<head>
<meta charset = "UTF-8">
<title>결과 데이터 출력</title>
</head>
<body>
	<div style = "text-align:center;">
		<h1>유사도 순위</h1>
	</div>
	<hr>
	<table>
		<tbody>
		<tr><td>1.</td></tr>
		<tr><td>2.</td></tr>
		<tr><td>3.</td></tr>
		<tr><td>4.</td></tr>
		<tr><td>5.</td></tr>
		</tbody>
	</table>

</body>
</html>


<!-- <!DOCTYPE html>

{% for music in music %}
<h1>{{music.title}}</h1>
<audio controls><source src="{{music.audio_file.url}}" type="audio/wav"></audio>

{%endfor%}
 -->
